body{
    background-color: #232323 !important;
}
.square{
width: 30%;
background-color: purple;
padding-bottom: 30%;
float: left;
margin: 1.66%;
}
h1{
    color: white;
}
#stripe{
    background-color: white;
    height: 2rem;
    text-align: center;
}